@import url('https://fonts.googleapis.com/css2?family=Electrolize');

body {
    font-family: 'Electrolize', sans-serif;
}


/*** 
1. Menu Links 
***/


.skullIcono {

    color: #000;
   
}

nav.navbar.bg-dark {

    background-color: gray !important;
    color: black !important;
    

}

nav.navbar.bg-dark a {

    color: #fff !important;
    

}

.nav-item:hover {
    background-color: #7350ff;
    border-radius: 5px;
}


.piepag-adb {

    background-color: #7350ff;
    margin-top: 5%;

}


p.piepag-parrafo {

display: table-cell;
vertical-align: middle;
color: #fff;
height: 50px;
text-align: center;

}

.form-signin {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: 10% auto 20%;
      
}

button.btn-secondary {

    background-color:  #7350ff;
    
}


.estilo-cards-home {

    margin: 5% 0 0 0;

}


.form-signup {


    width: 50%;
    margin-left: auto;
    margin-right:  auto;
    margin-top:  2%;
    margin-bottom: 2%;

}

.logo-login {

    text-align: center;
}


.bookTitle {

    font-weight: bold;
    font-size: 1.3em;
    color: #000;
}

.bookAutor {
    color: #333;
    font-weight:500; 

}

.linkDownload {

    background-color: #7350ff;
box-shadow: 0 0 4px rgba(33,34,64,.08),0 2px 8px rgba(33,34,64,.16);
color: #fff;
padding: .5rem;

}

.bookCategoryIcon {

    color: #7350ff;
}

.tituloLibros {

    color: #7350ff;
    font-weight: bold;

}


h1.titulo-home {

    margin: 7% 0px;
    text-align: center;
    color: #7350ff;
    font-weight: bold;
    font-size: 3em;

}

.icon-1-home {

    width: 120px;
    height: 120px;
}


.link-home-text {

    color: #000;
    font-weight: bold;
    text-align: center;
    color: #7350ff;
    font-size: 1.2em;
    margin-top: 15px;

}

.bottom-text-home {

    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    color: #333;

}

.center {

    text-align: center;
}

.bonini-styles > p  {

    background: blanchedalmond;
    border: 1px #000 solid;
}

.user-count {

    color: #fff;
    background-color: #7350ff;
    padding-bottom: 0px;
    padding: 7px;

}

.lista-users {

    color: #000;

}